.backbutton {
  display: flex;
  align-items: center;
  margin: 2.375rem 0 5.937rem 0;
  & svg {
    margin-right: 0.5rem;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
  }
  & a {
    cursor: pointer;
    color: #000;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25em;
    letter-spacing: 0.085em;
    text-transform: uppercase;
    text-decoration: none;
  }
}