.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #F1F6E7;
}

.spinner {
  z-index: 1;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 10rem;
  height: 10rem;
  & span {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%) rotate(90deg);
    width: 100%;
    height: 5px;
    background-color: #000;
    &:nth-child(2) {
      animation: spin 1.5s linear infinite normal forwards;
    }
    &:nth-child(3) {
      height: 4px;
      animation: spin 1.5s linear infinite normal forwards;
      animation-delay: -0.125s;
    }
    &:nth-child(4) {
      height: 3px;
      animation: spin 1.5s linear infinite normal forwards;
      animation-delay: -0.25s;
    }
    &:nth-child(5) {
      height: 2px;
      animation: spin 1.5s linear infinite normal forwards;
      animation-delay: -0.375s;
    }
    &:nth-child(6) {
      height: 1px;
      animation: spin 1.5s linear infinite normal forwards;
      animation-delay: -0.5s;
    }
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%,-50%) rotate(90deg);
  }
  70% {
    transform: translate(-50%,-50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%,-50%) rotate(-90deg);
  }
}